mixin footer()
	+b.FOOTER.footer.section
		.container
			.row
				.col-lg
					+e.nav
						+e.row.row
							.col-md-4
								+ddGroup
									+ddGroupItem('Каталог')
										ul
											li: a(href='#') Новинки
											li: a(href='#') Скоро в продаже
											li: a(href='#') Верхняя одежда
											li: a(href='#') Одежда
											li: a(href='#') Трикотаж
											li: a(href='#') Premium
											li: a(href='#') Аксессуары
											li: a(href='#') SALE
							.col-md-4
								+ddGroup
									+ddGroupItem('Покупателям')
										ul
											li: a(href='#') Магазины
											li: a(href='#') плата и доставка
											li: a(href='#') бмен и возврат
											li: a(href='#') ферта
											li: a(href='#') плата долями
											li: a(href='#') одарочные сертификаты
											li: a(href='#') рограмма лояльности 
											li: a(href='#') Часто задаваемые вопросы
							.col-md-4
								+ddGroup
									+ddGroupItem('Информация')
										ul
											li: a(href='#') Бренд CONSO
											li: a(href='#') Контакты
											li: a(href='#') Вакансии 
							
								+ddGroup
									+ddGroupItem('Сотрудничество')
										ul
											li: a(href='#') Реферальная программа
											li: a(href='#') Условия сотрудничества
				.col-auto
					+e.item--contact
						+newsLetters
						+iconsGroup
						+callContacts
				
			.copyright © 2024 CONSO Все права защищены 
				

mixin iconsGroup
	+b.icons-group
		+e.icon-wrap(href='#'): +icon('telegram')
		+e.icon-wrap(href='#'): +icon('vk')
		+e.icon-wrap(href='#'): +icon('youtube')
		+e.icon-wrap(href='#'): +icon('dzen')

mixin newsLetters
	+b.news-letters
		+e.title Подпишитесь на новостную рассылку
		+e.input-wrap
			+input("Введите email",'email')
			+e.btn.btn.btn-primary(type="submit"): +icon('arrow-left')
		+e.text.small Подписываясь на рассылку вы соглашаетесь с условиями 
			| #[a(href='#') Политики конфиденциальности]

mixin callContacts
	+b.call-contacts
		.time Время работы пн-пт с 9:00 до 18:00
		a(href="tel:88003012470") 8 800 301 24 70
		+e.title Звонок бесплатный