mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.light-content&attributes(attributes)
		#showcase-holder()
			#showcase-holder-wrap
				#showcase-tilt-wrap
					#showcase-tilt()
						#showcase-slider.swiper-container.swiper
							.swiper-wrapper()
								// Section Slide
								.swiper-slide.swiper-slide-active(data-title='Sapfo Olive Oil' data-subtitle='Product Design' data-number='1')
									.img-mask(data-swiper-parallax="300")
										.section-image.picture-bg
											video(src="video/video1.mp4" loop muted playsinline).img-bg 
									a.title.hide-ball(data-type='page-transition' href='http://clapat.ro/themes/bauman/project08.html') Sapfo Olive Oil
								// /Section Slide
								// Section Slide
								.swiper-slide.swiper-slide-next(data-title='Forest House' data-subtitle='Architecture' data-number='2'  )
									.img-mask(data-swiper-parallax="300")
										.section-image(data-src='img/09hero.jpg' style='background-image: url("img/09hero.jpg");') 
									a.title.hide-ball(data-type='page-transition' href='http://clapat.ro/themes/bauman/project09.html') Forest House
								// /Section Slide
			
								.swiper-slide.swiper-slide-active(data-title='Sapfo Olive Oil' data-subtitle='Product Design' data-number='3')
									.img-mask(data-swiper-parallax="300")
										.section-image.picture-bg
											+img("img/08hero.jpg",'bg').img-bg 
									a.title.hide-ball(data-type='page-transition' href='http://clapat.ro/themes/bauman/project08.html') Sapfo Olive Oil
								// /Section Slide
								// Section Slide
								.swiper-slide.swiper-slide-next(data-title='Forest House' data-subtitle='Architecture' data-number='4'  )
									.img-mask(data-swiper-parallax="300")
										.section-image(data-src='img/09hero.jpg' style='background-image: url("img/09hero.jpg");') 
									a.title.hide-ball(data-type='page-transition' href='http://clapat.ro/themes/bauman/project09.html') Forest House
								// /Section Slide
			
			.showcase-captions-wrap
				.showcase-counter(data-total='4' )
				.showcase-captions.swiper-pagination-clickable.swiper-pagination-bullets
					.outer.swiper-pagination-bullet
						.inner
							.subtitle( ) Web Design
							.title() Deals Application
							.counter-wrap
								.counter() 1
					.outer.swiper-pagination-bullet
						.inner
							.subtitle() Branding
							.title() Opulence Cosmetics
							.counter-wrap
								.counter() 2
			.arrows-wrap
				.prev-wrap.parallax-wrap
					.swiper-button-prev.swiper-button-white.parallax-element
						+icon('arrow-left')
				.next-wrap.parallax-wrap
					.swiper-button-next.swiper-button-white.parallax-element 
						+icon('arrow-left')

	// end headerBlock