extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/s404/_s404.pug
include ../blocks/sDelivery/_sDelivery.pug
include ../blocks/sCatalog/_sCatalog.pug

include ../blocks/top-nav/_top-nav.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Доставка и оплата'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav()
	main
		div(class="content blog-post__content")
			+sDelivery(title)

	+footer
      



