extends ../layout/main.pug

include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug 
include ../blocks/sCards/_sCards.pug
include ../blocks/footer/_footer.pug
include ../blocks/fullImage/_fullImage.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav().top-nav--white
	main 
		+b.section-slider
			+b.section-slide--dark
				//- +headerBlock 
				+fullImage(1,'лето 2024')
			+b.section-slide
				+sCards
			+b.section-slide.d-lg-none
			+b.section-slide--dark
				+fullImage(1,'лето 2024')
			+b.section-slide--dark
				+fullImage(2,'лимированная серия')
			+b.section-slide
				+sCards2
			+b.section-slide.d-lg-none
			+b.section-slide--dark
				+fullImage(3,'лимированная серия')
			+b.section-slide
				+footer