extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug 
include ../blocks/sCards/_sCards.pug
include ../blocks/footer/_footer.pug
include ../blocks/fullImage/_fullImage.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+b.main-slider--js.swiper
			.swiper-wrapper 
				+b.section-slide.swiper-slide
					+headerBlock 
				+b.section-slide.swiper-slide
					+sCards
				+b.section-slide.swiper-slide
					+fullImage
				+b.section-slide.swiper-slide
					+sCards
				+b.section-slide.swiper-slide
					+fullImage
				+b.section-slide.swiper-slide
					+fullImage
				+b.section-slide.swiper-slide
					+footer