extends ../layout/main.pug

include ../blocks/top-nav/_top-nav.pug
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug 
include ../blocks/sCards/_sCards.pug
include ../blocks/footer/_footer.pug
include ../blocks/fullImage/_fullImage.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+top-nav()
	main 
		+b.main-slider--js.swiper
			.swiper-wrapper
				+b.section-slide--dark.swiper-slide
					+headerBlock 
				+b.section-slide--dark.swiper-slide
					+headerBlock 
					+fullImage(1,'лето 2024')
				+b.section-slide.swiper-slide
					+sCards
				+b.section-slide--mobile.d-lg-none.swiper-slide
				+b.section-slide--dark.swiper-slide
					+fullImage(1,'лето 2024')
				+b.section-slide--dark.swiper-slide
					+fullImage(2,'лимированная серия','v')
				+b.section-slide.swiper-slide
					+sCards2
				+b.section-slide--mobile.d-lg-none.swiper-slide
				+b.section-slide--dark.swiper-slide
					+fullImage(3,'лимированная серия')
				+b.section-slide.swiper-slide
					+footer