mixin fullImage(i, title)
	// start fullImage
	+b.SECTION.fullImage.section#fullImage&attributes(attributes).bg-wrap
		+img(`img/frame-${i}.jpg`, 'bg').img-bg 
		+b.section-title.text-center
			h2= title
			+e.link(href="#") подробнее 