mixin fullImage(data)
	// start fullImage
	+b.SECTION.fullImage.section#fullImage&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 fullImage
				
			+e.row.row
	// end fullImage