mixin sDelivery(data)
	// start sDelivery
	+b.SECTION.sDelivery.section#sDelivery&attributes(attributes)
		.container
			+b.section-title.text-center
				h2=data
			+ddGroup
				+ddGroupItem('Способы получения заказа в Москве и Московской области:', 'active')
					ul
						li: a(href='#') Курьерская доставка
						li: a(href='#') Самовывоз из флагманского магазина CONSO
						li: a(href='#') Доставка в пункты выдачи СДЭК
				+ddGroupItem('Курьерская доставка по Москве и Московской области', '')
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO,
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO
				+ddGroupItem('ДОСТАВКА В ПУНКТЫ ВЫДАЧИ СДЭК ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ', '')
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO,
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO
				+ddGroupItem('ДОСТАВКА ПОЧТОЙ РОССИИ ПО МОСКВЕ И МОСКОВСКОЙ ОБЛАСТИ', '')
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO,
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO
				+ddGroupItem('САМОВЫВОЗ ИЗ ФЛАГМАНСКОГО МАГАЗИНА CONSO', '')
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO,
					p Курьерская доставка, Самовывоз из флагманского магазина CONSO
				+ddGroupItem('СПОСОБЫ ПОЛУЧЕНИЯ ЗАКАЗА В ГОРОДАХ РОССИИ:', 'active')
					ul
						li: a(href='#') Курьерская доставка
						li: a(href='#') Самовывоз из флагманского магазина CONSO
						li: a(href='#') Доставка в пункты выдачи СДЭК
				+ddGroupItem('КУРЬЕРСКАЯ ДОСТАВКА СДЭК ПО РОССИИ', '')
					ul
						li: a(href='#') Курьерская доставка
						li: a(href='#') Самовывоз из флагманского магазина CONSO
						li: a(href='#') Доставка в пункты выдачи СДЭК
				+ddGroupItem('ДОСТАВКА В ПУНКТЫ ВЫДАЧИ СДЭК ПО РОССИИ', '')
					ul
						li: a(href='#') Курьерская доставка
						li: a(href='#') Самовывоз из флагманского магазина CONSO
						li: a(href='#') Доставка в пункты выдачи СДЭК
				+ddGroupItem('ДОСТАВКА ПОЧТОЙ РОССИИ', '')
					ul
						li: a(href='#') Курьерская доставка
						li: a(href='#') Самовывоз из флагманского магазина CONSO
						li: a(href='#') Доставка в пункты выдачи СДЭК

	// end sDelivery