:root {
	--base-color: #{$body-color};
	--base-color-inverse: #fff;
	// --base-color: #fff;
	// --base-color-inverse: #{$body-color};
}
.top-nav {
	background-color: rgba($color: #fff, $alpha: 0.85);
	&__line {
		background-color: #fff;
		height: 2rem;
	}
	// --sPT: #{rem()};
	left: 0;
	top: var(--line-h, 0);
	width: 100vw;
	position: fixed;
	padding-block: 1rem;
	// --sPB: #{rem()};
	z-index: 100;
	color: var(--base-color);
	// --sTPB: #{rem()};
	&__row {
		--bs-gutter-x: #{rem(24)};
		// @include media-breakpoint-up(md) {
		--bs-gutter-y: var(--bs-gutter-x);
		align-items: center;
		// }
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}
	.toggle-menu-mobile {
		margin-top: 3px;
	}
	ul {
		display: flex;
		gap: #{rem(24)};
		margin: 0;
		a {
			color: var(--base-color);
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: -0.02em;
			&:hover {
				opacity: 0.5;
			}
		}

		list-style: none;
	}

	@include media-breakpoint-down(lg) {
		.icon-btn--search {
			opacity: 1 !important;
		}
	}

	@include media-breakpoint-up(xs) {
	}
	//
	@include media-breakpoint-between(md, xl) {
	}
	//
	@include media-breakpoint-only(xs) {
	}

	&__search-col {
		@include media-breakpoint-up(xl) {
			position: relative;
		}
		// position: relative;

		// .search-block {
		// 	display: none;
		// }
		&:hover {
			.search-block {
				// display: block;
			}
		}
	}
	.container {
		position: relative;
	}
}

// .top-nav--white {
// 	--base-color: #fff;
// 	--base-color-inverse: #{$body-color};
// }

@include media-breakpoint-down(md) {
	.top-nav--search-open {
		background-color: #fff;
		--base-color: #{$body-color};
		--base-color-inverse: #fff;
	}
}

.icon-btn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	@include mt;
	svg {
		fill: none;
		stroke: currentColor;
	}
	&__count {
		@include mt;
		width: rem(14);
		height: rem(14);
		position: absolute;
		border-radius: 50%;
		line-height: 1.2;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(12);
		right: rem(-2);
		bottom: rem(-2);
		background-color: var(--base-color);
		color: var(--base-color-inverse);
		letter-spacing: -0.02em;
	}
	&--search {
		margin-right: rem(-10);
	}
}

.icon-btns {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.opacity-0 {
	opacity: 0;
}

.logo {
	@include a-cent1();
	display: flex;
	color: var(--base-color);
	[fill="white"] {
		fill: currentColor;
	}
	svg {
		width: auto;
		height: 24px;
		@include media-breakpoint-down(sm) {
			height: 20px;
		}
	}

	text-align: center;
}
