mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	+b.menu-mobile--js
		+e.container
			+menu-toggle()
			.d-sm-none
				+b.logo(href="/")
					include logo.svg
		+e.inner
			+e.container
				+mnu()
		//- +e.footer
		//- 	+e.container
		//- 		.small Подписаться на новости
		//- 		+b.icons-group
		//- 			+e.icon-wrap(href='#'): +icon('telegram')
		//- 			+e.icon-wrap(href='#'): +icon('vk')
		//- 			+e.icon-wrap(href='#'): +icon('youtube')
		//- 			+e.icon-wrap(href='#'): +icon('dzen')
	//  мобильное меню
mixin top-nav() 
	+b.line-top.text-center Первый заказ на новинки со скидкой 10%. Промокод ZAKAZ10
	style.
		:root{
			--line-h: 36px;
		}
	// start top-nav
	+b.top-nav.block-with-lazy.top-nav--white
		+b.logo(href="/")
			include logo.svg
		.container-fluid
			+e.row.row 
				.col-auto
					+menu-toggle()
				.col.d-none.d-xl-block
					nav
						ul
							li: a(href="#") Подарочная карта
							li: a(href="#") look-book
							li: a(href="#") Магазины
				+e.search-col.col-xl-auto.col.hide-ball
					+b.icon-btn--search
						+icon("search")
					+search()
				.col-auto
					+b.icon-btns.hide-ball  
						+b.icon-btn 
							+icon("heart")
							+e.count 10
						+b.icon-btn 
							+icon("cart")
						+b.icon-btn.d-md-flex.d-none
							+icon("profile")
	+mob-mnu()
					
	// end top-nav