.top-nav {
	// --sPT: #{rem()};
	left: 0;
	top: 0;
	width: 100%;
	position: fixed;
	// --sPB: #{rem()};
	z-index: 100;
	// --sTPB: #{rem()};
	&__row {
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
		--bs-gutter-y: var(--bs-gutter-x);
		// }
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}
	//
	@include media-breakpoint-between(md, xl) {
	}
	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-down(xs) {
	}
}
