// start .sCards
.sCards {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	background-color: #fff;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__row {
		// justify-content: center;
		// display: flex;
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		// gap: rem(80);
		text-align: center;
	}
	.section-title {
	}
	&__col {
	}
	&__item {
	}
	&__col {
		// max-width: 400px;
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCards

.card {
	text-align: center;
	text-transform: uppercase;
	&:hover {
		--op: 0.2;
		img {
			transform: scale(1.03);
		}
	}

	@include media-breakpoint-up(xl) {
		padding-left: 40px;
		padding-right: 40px;
	}
	padding-left: 20px;
	padding-right: 20px;
	@include media-breakpoint-up(lg) {
		display: inline-block;
		max-width: 48%;
	}
	&__img {
		margin-bottom: rem(24);
		display: block;
		// margin-left: auto;nl;A
		margin-left: auto;
		max-width: 100%;
		margin-right: auto;
		position: relative;
		overflow: hidden;

		// max-width: 100%;
		max-height: calc(
			min(
				calc(
					100svh - var(--sPT) * 2 - 4rem - env(safe-area-inset-top, 0) - env(
							safe-area-inset-bottom,
							0
						)
				),
				605px
			)
		);
		// max-height: 100vh;
		aspect-ratio: 400/605;

		&:after {
			background-color: #000;
			content: "";
			display: block;
			height: 100%;
			left: 0;
			opacity: var(--op, 0.05);
			position: absolute;
			top: 0;
			transition: opacity 0.3s linear;
			width: 100%;
		}
		@include media-breakpoint-up(lg) {
			margin-left: 40px;
			margin-right: 40px;
		}
		img {
			height: 100%;
			@include mt;
			// width: auto;
			object-fit: cover;
			width: 100%;
		}
	}

	&__title {
		display: inline-block;
		margin-bottom: 4px;
		font-weight: 600;
	}
	&__text {
		font-size: 10px;
	}
}

@include media-breakpoint-down(lg) {
	.section-slide:not(.d-lg-none) {
		.card:nth-child(2) {
			display: none;
		}
	}
	.section-slide.d-lg-none {
		.card:nth-child(1) {
			display: none;
		}
	}
}
